.app {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 750px; /* Adjust the width of the Sidebar */
    background-color: #f4f4f4; /* Optional: Background color for Sidebar */
    padding: 10px;
  }
  
  .editor {
    flex-grow: 1;
    background-color: #fff; /* Optional: Background color for Editor */
    padding: 20px;
    overflow-y: auto; /* Optional: Make the editor scrollable */
  }
  